<p>
  <b>Uname:</b>
  <%=h @user.uname %>
</p>

<p>
  <b>Passwd:</b>
  <%=h @user.passwd %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Utype:</b>
  <%=h @user.utype %>
</p>

<% if current_user.privilege == 3 %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<% if current_user.privilege > 1 %>
<%= link_to 'Back', users_path %>
<% end %>
