<div id="player">
  <object type="application/x-shockwave-flash" data="/player.swf" width="480" height="360" id="vcastr3">
    <param name="movie" value="player.swf"/> 
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="xml=
      <vcastr>
        <channel>
          <item>
            <source>http://<%= request.host_with_port%>/movies/stream/<%= @movie.id %></source>
            <duration></duration>
            <title></title>
          </item>
        </channel>
        <config>
        </config>
        <plugIns>
        </plugIns>
      </vcastr>"/>
  </object>
</div>

<div id="div-comments">
  <div id="comments">
    Loading comments...
  </div>
  <p><div id="postResult"></div>
  <div id="new-comment">
  <% if current_user %>
<% comment = Comment.new %>
<% form_for comment, :url=>{:controller=>"comments",:action=>"xpost"} do |f| %>
  <p>
    <b><%= f.label :content, "New Comment" %></b><br />
    <%= f.text_area :content, :size=>"50x5" %>
    <%= f.hidden_field :movie_id, :value=>@movie.id %><br />
    <%= submit_tag "Post", :onclick=>"postComment();return false;" %>
  </p>
<% end %>

  <% else %>
    <hr>
    Please <b><%= link_to "login", "/login" %></b> to post a new comment.
  <% end %>
  </div></p>
</div>

<script type="text/javascript">
postComment = function(){
var content =  $('comment_content').value;
if(new RegExp(/^\s*$/).test(content))
{
  alert("评论不能为空！");
  return false;
}
<%= remote_function \
    :update => "postResult", \
    :method => "post", \
    :url =>{:controller=>"comments",:action=>"xpost"}, \
    :with => "\"comment[content]=\"+content+\"&comment[movie_id]=#{@movie.id}\"" %>
updateComments();
}// end of postComment

//-------------------------------------------
updateComments = function(){<%= remote_function :method => "get",
                    :url    => "/comments/movie/#{@movie.id}",
                    :update => "comments" %>
}// end of updateComments
updateComments();

//-------------------------------------------
<%= remote_function :method => "get",
    :url => "/movies/info/#{@movie.id}",
    :update => "ajaxCon" %>
</script>
