<p>
  <b><span class="info-tag">Title:<span></b>
  <%= link_to @movie.title, @movie %>
</p>

<p>
  <b><span class="info-tag">Tags:<span></b>
  <%=h @movie.tags %>
</p>

<p>
  <b><span class="info-tag">Info:<span></b>
  <%=h @movie.info %>
</p>

<p>
  <b><span class="info-tag">Path:<span></b>
  <%=h @movie.path %>
</p>

<p>
  <b><span class="info-tag">User:<span></b>
  <%= link_to @movie.user.uname, @movie.user %>
</p>
