<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Tags</th>
    <th>Info</th>
    <th>User</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= link_to movie.title, movie %></td>
    <td><%=h movie.tags %></td>
    <td><%=h movie.info %></td>
    <td><%= link_to movie.user.uname, movie.user %></td>
    <% if current_user && (current_user.privilege>1 || current_user.id==movie.user_id)%>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <% end %>
    <% if current_user && current_user.privilege > 1 %>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
<%= link_to 'Upload New Movie', :action => :upload, :id => 1 %>
<% end %>
