<h1>Register New User</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Username' %><br />
    <%= f.text_field :uname %>
  </p>
  <p>
    <%= f.label 'Password' %><br />
    <%= f.password_field :passwd %>
  </p>
  <p>
    <%= f.label 'Confirm password' %><br />
    <%= f.password_field :passwd_confirmation %>
  </p>
  <p>
    <%= f.label 'Email' %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
