<h1>创建新专辑</h1>

<% form_for(@album) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "专辑名称 (一旦创建成功则不能再修改)" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to '返回专辑列表', albums_path %>
