<p>
  <b>Title:</b>
  <%= link_to @album.title, @album %><br/>
  <b>Movies:</b>
  <%= @album.movies.size %><br/>
  <b>User:</b>
  <%= link_to @album.user.uname, @album.user %>
</p>

<div id="movie-list">
</div>
<script type="text/javascript">
<%= remote_function :url => "/movies/list/select?album_id=#{@album.id}", :update => "movie-list" %>
</script>

<% if current_user %>
<%= link_to '向本专辑添加新视频', "/movies/upload/#{@album.id}" %><br/>
<% end %>

<%= link_to '返回专辑列表', albums_path %>
